<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">

  <div class="responsive-header">
    <div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
      <span class="mh-text">
				<a routerLink="/home/index" href="newsfeed.html" title=""><img src="images/logo.png" alt=""></a>
			</span>
      <span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
    </div>
    <!--    <div class="mh-head second">-->
    <!--      <form class="mh-form">-->
    <!--        <input placeholder="search" />-->
    <!--        <a href="#/" class="fa fa-search"></a>-->
    <!--      </form>-->
    <!--    </div>-->
  </div><!-- responsive header -->
  <app-navbar></app-navbar>
  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">
              <div class="col-lg-3">

                <aside class="sidebar static">

                  <div class="widget">
                    <h4 class="widget-title">Shortcuts</h4>
                    <ul class="naves">
                      <li>
                        <i class="fa-solid fa-house"></i>
                        <a routerLink="/home/index" title="">Trang chủ</a>
                      </li>
                      <li>
                        <i class="ti-files"></i>
                        <a routerLink="/addFriends/list" title="">Lời mời kết bạn</a>
                      </li>
                      <li>
                        <i class="fa-solid fa-user-group"></i>
                        <a routerLink="/friend/list/me" title="">Bạn bè của bạn</a>
                      </li>
                    </ul>
                  </div>
                </aside>
              </div>
              <div class="col-lg-6">
                <div class="loadMore">
                  <div class="central-meta">
                    <div class="groups">
                      <span><i class="fa fa-users"></i>Kết quả tìm kiếm cho "{{name}}"</span>
                    </div>
                    <ul class="nearby-contct" *ngFor="let user of users">
                      <li >
                        <div class="nearly-pepls">
                          <figure>
                            <a href="time-line.html" title=""><img src="http://localhost:8080/image-upload/{{user.avatar}}"></a>
                          </figure>
                          <div class="pepl-info">
                            <h4><p style="color: #0a98dc; cursor: pointer" (click)="navigateUrl(user.id)" title="">{{user.fullName}}</p></h4>
                            <button [hidden]="listFriendId.includes(user.id) || listNotiId.includes(user.id)" (click)="createNotificationService(currentUserId, user.id)" style="float: right" class="btn btn-primary" >Kết bạn</button>
                            <button *ngIf="listNotiId.includes(user.id)" (click)="openModalCancleAddFriend(templateCancelAddFriend, user.id)" style="float: right" class="btn btn-danger">Hủy yêu cầu</button>
                            <button *ngIf="listFriendId.includes(user.id)" disabled style="float: right" class="btn btn-danger" ><i class="fa-solid fa-user-check"></i> Bạn bè</button>
                            <span>{{user.address}}</span>


                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>


                </div>
              </div><!-- centerl meta -->

              <div class="col-lg-3">
                <aside class="sidebar static">


                </aside>
              </div><!-- sidebar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="widget">
            <div class="foot-logo">
              <div class="logo">
                <a href="index-2.html" title=""><img src="images/logo.png" alt=""></a>
              </div>
              <p>
                The trio took this simple idea and built it into the world’s leading carpooling platform.
              </p>
            </div>
            <ul class="location">
              <li>
                <i class="ti-map-alt"></i>
                <p>33 new montgomery st.750 san francisco, CA USA 94105.</p>
              </li>
              <li>
                <i class="ti-mobile"></i>
                <p>+1-56-346 345</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="widget">
            <div class="widget-title"><h4>follow</h4></div>
            <ul class="list-style">
              <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/" title="">facebook</a></li>
              <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title="">twitter</a></li>
              <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title="">instagram</a></li>
              <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover" title="">Google+</a></li>
              <li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/" title="">Pintrest</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="widget">
            <div class="widget-title"><h4>Navigate</h4></div>
            <ul class="list-style">
              <li><a href="about.html" title="">about us</a></li>
              <li><a href="contact.html" title="">contact us</a></li>
              <li><a href="terms.html" title="">terms & Conditions</a></li>
              <li><a href="#" title="">RSS syndication</a></li>
              <li><a href="sitemap.html" title="">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="widget">
            <div class="widget-title"><h4>useful links</h4></div>
            <ul class="list-style">
              <li><a href="#" title="">leasing</a></li>
              <li><a href="#" title="">submit route</a></li>
              <li><a href="#" title="">how does it work?</a></li>
              <li><a href="#" title="">agent listings</a></li>
              <li><a href="#" title="">view All</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="widget">
            <div class="widget-title"><h4>download apps</h4></div>
            <ul class="colla-apps">
              <li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a></li>
              <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>iPhone</a></li>
              <li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>Windows</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- footer -->
  <div class="bottombar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span>
          <i><img src="images/credit-cards.png" alt=""></i>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #templateCancelAddFriend>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Bạn chắc chắn muốn hủy yêu cầu vào nhóm chứ?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteNotification()"><i class="fa-solid fa-trash-can"></i>Xóa</button>
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Đóng</button>
  </div>
</ng-template>






